<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuiltInApproachWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuiltInApproachWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <BuiltInApproachWpfApp.Properties.Settings>
      <setting name="MyColor" serializeAs="String">
        <value>Original</value>
      </setting>
      <setting name="LastRan" serializeAs="String">
        <value>2003-03-03</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>Small change</value>
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value>Small change1</value>
      </setting>
      <setting name="Setting2" serializeAs="String">
        <value>Small change2</value>
      </setting>
    </BuiltInApproachWpfApp.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BuiltInApproachWpfApp.Properties.Settings>
      <setting name="BrandColor" serializeAs="String">
        <value>Original</value>
      </setting>
    </BuiltInApproachWpfApp.Properties.Settings>
  </applicationSettings>
</configuration>

<!--

<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="BuiltInApproachWpfApp.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="MyColor" Type="System.String" Scope="User">
      <Value Profile="(Default)">eeeeeeeeee</Value>
    </Setting>
    <Setting Name="BrandColor" Type="System.String" Scope="Application">
      <Value Profile="(Default)">WWWWWWWWWWW</Value>
    </Setting>
  </Settings>
</SettingsFile>

-->